# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Game Files
.vscode
assist
build
/Kero Blaster
/Pink Hour
/Pink Heaven
/bin
/_deps
Makefile
CMakeFiles
include/CMakeFiles
CMakeCache.txt
*.cmake
imgui.ini